<!DOCTYPE html>
<html lang="es">

<head>
    <%- include('../partials/head.ejs' ); %>
        <title>Error de Logueo</title>
</head>

<body>
    <div class="container error">
        <p>ERROR DE LOGUEO DEL USUARIO</p>
    </div>
    <button class="button"><a href="/login">Volver</a></button>
</body>

</html>